{% extends 'base.html' %}

{% block title %} Use Case 4 {% endblock %}

{% block css_links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='use_case_3.css') }}">
{% endblock  %}

{% block block_menu %}{% endblock  %}

{% block content %}
    <div class="">
        <div class="title">
            <h4>Use Case 4</h4>
            
        </div>
    </div>
    <div>
        <canvas id="myChart" height="200"></canvas>
        <canvas id="myChart2" height="200"></canvas>
        <script>
            var all_data = {{all_data|tojson}};
            var rdata = all_data['rdata'];
            var gdata = all_data['gdata'];
            var rlabels = all_data['rlabels'];
            var glabels = all_data['glabels'];

            var ctx = document.getElementById("myChart").getContext("2d");
            var ctx2 = document.getElementById("myChart2").getContext("2d");
            
            var myChart = new Chart(ctx, {
                type: "scatter",
                data: {
                    datasets: [{
                        label: 'Scatter Plot',
                        data: rdata,
                        pointBackgroundColor: 'rgba(255, 99, 132, 1)',
                    }]
                },
                options : {
                    plugins: {
                        title: {
                            display: true,
                            text: 'Correlation scatter plot'
                        },
                    },
                    scales: {
                        x: {
                            type: 'linear',
                            position: 'bottom',
                            title: {
                                display: true,
                                text: 'User_id'
                            }
                        },
                        y: {
                            type: 'linear',
                            position: 'left',
                            title: {
                                display: true,
                                text: 'Correlation'
                            }
                        }
                    },
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, data){
                                return rlabels[tooltipItem.index]
                            }
                        }
                    }
                }
            });
            var myChart2 = new Chart(ctx2, {
                type: "scatter",
                data: {
                    datasets: [{
                        label: 'Scatter Plot',
                        data: gdata,
                        pointBackgroundColor: 'rgba(255, 99, 132, 1)',
                    }]
                },
                options : {
                    plugins: {
                        title: {
                            display: true,
                            text: 'Correlation scatter plot'
                        },
                    },
                    scales: {
                        x: {
                            type: 'linear',
                            position: 'bottom',
                            title: {
                                display: true,
                                text: 'User_id'
                            }
                        },
                        y: {
                            type: 'linear',
                            position: 'left',
                            title: {
                                display: true,
                                text: 'Correlation'
                            }
                        }
                    },
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, data){
                                return glabels[tooltipItem.index]
                            }
                        }
                    }
                }
            });
        </script>
    </div>

    <div class="use-case-2-results">
        <table class="table use-case-2-results-table">
            <thead class="table-dark">
                <tr>
                    {% for i in range(0, len) %}
                        <th scope="col">{{heading[i]}}</ths>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in result %}
                    <tr>
                        {% for j in range(0, len) %}
                            <td>
                                {{row[j]}}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
{% endblock %}