{% extends 'base.html' %}

{% block title %} Use Case 1 {% endblock %}

{% block css_links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='use_case_1.css') }}">
{% endblock %}

{% block button_menu %}
{% endblock button_menu %}

{% block content %}
    <div class="">
        <div class="title">
            <h4>Use Case 1</h4>
            <p>Search movies by title, date, genres or ordered ratings.</p>
        </div>
        <form class="use-case-1-form" action="{{ url_for('get_data') }}" method="POST">
            <fieldset class="row mb-2">
                <legend class="col-form-label col-sm-1 pt-0">Title</legend>
                <div class="col-sm-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="title" id="title-asc" value="asc">
                        <label class="form-check-label" for="title-asc">ASC</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="title" id="title-desc" value="desc">
                        <label class="form-check-label" for="title-desc">DESC</label>
                    </div>
                </div>
                <legend class="col-form-label col-sm-1 pt-0">Ratings (RT)</legend>
                <div class="col-sm-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="rotten_tomatoes" id="ratings-rt-asc" value="asc">
                        <label class="form-check-label" for="ratings-rt-asc">ASC</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="rotten_tomatoes" id="ratings-rt-desc" value="desc">
                        <label class="form-check-label" for="ratings-rt-desc">DESC</label>
                    </div>
                </div>
                <legend class="col-form-label col-sm-1 pt-0">Ratings (Ov.)</legend>
                <div class="col-sm-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="rating" id="ratings-asc" value="asc">
                        <label class="form-check-label" for="ratings-asc">ASC</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="rating" id="ratings-desc" value="desc">
                        <label class="form-check-label" for="ratings-desc">DESC</label>
                    </div>
                </div>
            </fieldset>
            <fieldset class="row">
                <legend class="col-form-label col-sm-1 pt-0">Genres</legend>
                <div class="col-sm-2">
                    <div class="form-floating">
                        <select class="form-select" name="genre" id="genre-select">
                            <!-- Add a default option "None" to prevent filtering on genre column -->
                            <option value="" selected>None</option>
                            {% for genre_name in unique_genres %}
                                <option value={{genre_name}}>{{genre_name}}</option>
                            {% endfor %}
                        </select>
                        <label for="genre-select">Select Genre</label>
                    </div>
                </div>
                <legend class="col-form-label col-sm-1 pt-0">Before Year</legend>
                <div class="col-sm-2">
                    <div class="form-floating">
                        <input type="text" class="form-control" name="year_before" id="year_before" placeholder="2023" value="">
                        <label for="year_before">Enter year before</label>
                    </div>
                </div>
                <legend class="col-form-label col-sm-1 pt-0">After Year</legend>
                <div class="col-sm-2">
                    <div class="form-floating">
                        <input type="text" class="form-control" name="year_after" id="year_after" placeholder="2023" value="">
                        <label for="year_after">Enter year after</label>
                    </div>
                </div>
            </fieldset>
            <button type="submit" class="btn btn-primary">Search Movies</button>
          </form>
    </div>
    <div class="use-case-1-results">
        <table class="table use-case-1-results-table">
            <thead class="table-dark">
                <tr>
                    {% for i in range(0, len) %}
                        <th scope="col">{{headings_display[i]}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in query_res %}
                    <tr>
                        {% for j in range(0, len) %}
                            {% if j == 2 %}
                                {% set genre_list = row[j].split('|') %}
                                <td class="genre-list">
                                    {% for genre in genre_list %}
                                        <span class="genre-tag">{{genre}}</span>
                                    {% endfor %}
                                </td>
                            {% elif j == 0 %}
                                <th scope="row">{{row[j]}}</th>
                            {% else %}
                                <td>{{row[j]}}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}