{% extends 'base.html' %}

{% block title %} Use Case 3 {% endblock %}

{% block css_links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='use_case_3.css') }}">
{% endblock  %}

{% block block_menu %}{% endblock  %}

{% block content %}
    <div class="">
        <div class="title">
            <h4>Use Case 3</h4>
            <p>Get ratings for a specific movie and display the average rating for the movies for each user.</p>
            <p>Once submitted, a plot will be generated, displaying the distribution for user ratings of the 
                specific movie, and their rating history.</p>
        </div>
    </div>
    <form class="use-case-3-form-1" action="{{ url_for('uc_3') }}" method="POST">
        <fieldset class="row mb-2">
            <legend class="col-form-label col-sm-1 pt-0">Analysis Part 1</legend>
            <div class="col-sm-2">
                <div class="form-floating">
                    <input type="text" class="form-control" name="movie_title_field" id="search" placeholder="Movie name..."></input>
                    <label for="movie_title_field">Enter movie title</label>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-floating">
                    <select class="form-select" name="genre" id="genre-select">
                        <!-- Add a default option "None" to prevent filtering on genre column -->
                        <option value="" selected>None</option>
                        {% for genre_name in unique_genres %}
                            <option value={{genre_name}}>{{genre_name}}</option>
                        {% endfor %}
                    </select>
                    <label for="genre-select">Select Genre</label>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-floating">
                    <select class="form-select" name="selected_subcase" id="selected_subcase">
                        <option value="subcase1" selected>Subcase 1</option>
                        <option value="subcase2">Subcase 2</option>
                    </select>
                    <label for="selected_subcase">Select Subcase</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary col-sm-2">Search</button>
        </fieldset>
    </form>
    <br>
    <div class="use-case-3-results">
        {% set message = context['message'] %}
        {% if context != None %}
            {% set correlation = context['correlation'] %}
            {% set movie_title = context['movie_title'] %}

            {% if message != None %}
                <p class="message">{{ message }}</p>
                <p>Correlation for {{movie_title}}: {{correlation}}</p>
            {% endif %}
        {% endif %}
    </div>
    <div>
        <canvas id="myChart" height="500"></canvas>
    </div>
    <script>
        var ctx = document.getElementById("myChart").getContext("2d");
        var context = {{ context|tojson }};
        var labels = context['labels'];
        var query_res = context['query_res'];
        var movie_title = context['movie_title'];

        let data = {
            datasets: [{
                type: "scatter",
                label: "User ratings for " + movie_title,
                labels: labels,
                data: query_res,
                backgroundColor: "#0D6EFD"
            }]
        }

        let options = {
            scales: {
                x: {
                    min: 0,
                    max: 5,
                    type: 'linear',
                    position: 'bottom',
                    title: {
                        display: true,
                        text: 'User Rating for ' + movie_title
                    }
                },
                y: {
                    min: 0,
                    max: 5,
                    title: {
                        display: true,
                        text: 'User Average Rating History'
                    }
                }
            },
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                tooltip: {
                    callbacks: {
                        label: function(ctx) {
                            let label = ctx.dataset.labels[ctx.dataIndex];
                            return [label, "User Rating for " + movie_title + ": " + ctx.parsed.x, "User Average Rating: " + ctx.parsed.y]
                        }
                    }
                }
            }
        }

        const scatterArbitraryLine = {
            id: 'scatterArbitraryLine',
            beforeDatasetDraw(chart, args, pluginOptions) {
                const { ctx, chartArea: {top, bottom, left, right, width, height}, scales: {x, y} } = chart;
                ctx.save();

                lines();
                
                function lines() {
                    ctx.beginPath();
                    ctx.strokeStyle = '#71C253';
                    ctx.lineWidth = 1;
                    ctx.moveTo(x.getPixelForValue(0), y.getPixlForValue(5));
                    ctx.lineTo(x.getPixelForValue(5), y.getPixlForValue(5));
                    ctx.stroke();
                    ctx.closePath();
                    ctx.restore();
                }
            }
        }

        scatterChart = new Chart(ctx, {
            data: data,
            options: options
        });
    </script>
{% endblock  %}