{% extends 'base.html' %}

{% block title %} Use Case 5 {% endblock %}

{% block css_links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='use_case_5.css') }}">
{% endblock  %}

{% block block_menu %}{% endblock  %}

{% block content %}
    <div class="">
        <div class="title">
            <h4>Use Case 5</h4>
            <p>Predicting ratings with preview</p>
        </div>
    </div>
    <form class="use-case-2-form" action="{{ url_for('uc_5') }}" method="POST">
        <fieldset class="row mb-2">
            <div class="col-sm-2">
                <div class="form-floating">
                    <input type="text" class="form-control" name="movie_title" id="search" placeholder="1"></input>
                    <label for="movie_title">Type Movie title</label>
                </div>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <div class="use-case-2-results">
        {% if context != None %}
            {% set actual_av = context['actual_av'] %}
            {% set predicted_av = context['predicted_av'] %}
            {% set movie_title = context['movie_title'] %}

            {% if message != None %}
                <p class="message">{{ message }}</p>
                <p>Actual aggregated rating for {{ movie_title }}: {{ actual_av }}</p>
                <p>Predicted aggregated rating for {{ movie_title }}: {{ predicted_av }}</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock  %}