{% extends 'base.html' %}

{% block title %} Use Case 3 {% endblock %}

{% block css_links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='use_case_3.css') }}">
{% endblock  %}

{% block block_menu %}{% endblock  %}

{% block content %}
    <div class="">
        <div class="title">
            <h4>Use Case 3</h4>
            <p>Get ratings for a specific movie and display the average rating for the movies for each user</p>
        </div>
    </div>
    <form class="use-case-2-form" action="{{ url_for('uc_3') }}" method="POST">
        <fieldset class="row mb-2">
            <legend class="col-form-label col-sm-1 pt-0">Analysis</legend>
            <div class="col-sm-2">
                <div class="form-floating">
                    <input type="text" class="form-control" name="search" id="search" placeholder="Movie name..."></input>
                    <label for="search">Search movie title</label>
                </div>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <div class="use-case-3-results">
        <table class="table use-case-3-results-table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">User_ID</th>
                    <th scope="col">User rating</th>
                    <th scope="col">User rating avg</th>
                </tr>
            </thead>
            <tbody>
                {% for row in query_res %}
                    <tr>
                        {% for j in range(0, 3) %}
                            <td>{{row[j]}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock  %}