{% extends 'base.html' %}

{% block title %} Use Case 4 {% endblock %}

{% block css_links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='use_case_3.css') }}">
{% endblock  %}

{% block block_menu %}{% endblock  %}

{% block content %}
    <div class="">
        <div class="title">
            <h4>Use Case 4</h4>
            
        </div>
    </div>
    <div>
        <canvas id="myChart" height="200"></canvas>
        <canvas id="myChart2" height="200"></canvas>
        <script>
            var all_data = {{all_data|tojson}};
            var rdata = all_data['rdata'];
            var gdata = all_data['gdata'];
            var rlabels = all_data['rlabels'];
            var glabels = all_data['glabels'];

            var ctx = document.getElementById("myChart").getContext("2d");
            var ctx2 = document.getElementById("myChart2").getContext("2d");
            
            var myChart = new Chart(ctx, {
                type: "scatter",
                data: {
                    datasets: [{
                        label: 'Scatter Plot',
                        data: rdata,
                        pointBackgroundColor: 'rgba(255, 99, 132, 1)',
                    }]
                },
                options : {
                    plugins: {
                        title: {
                            display: true,
                            text: 'Correlation scatter plot'
                        },
                    },
                    scales: {
                        x: {
                            type: 'linear',
                            position: 'bottom',
                            title: {
                                display: true,
                                text: 'User_id'
                            }
                        },
                        y: {
                            type: 'linear',
                            position: 'left',
                            title: {
                                display: true,
                                text: 'Correlation'
                            }
                        }
                    },
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, data){
                                return rlabels[tooltipItem.index]
                            }
                        }
                    }
                }
            });
            var myChart2 = new Chart(ctx2, {
                type: "scatter",
                data: {
                    datasets: [{
                        label: 'Scatter Plot',
                        data: gdata,
                        pointBackgroundColor: 'rgba(255, 99, 132, 1)',
                    }]
                },
                options : {
                    plugins: {
                        title: {
                            display: true,
                            text: 'Correlation scatter plot'
                        },
                    },
                    scales: {
                        x: {
                            type: 'linear',
                            position: 'bottom',
                            title: {
                                display: true,
                                text: 'User_id'
                            }
                        },
                        y: {
                            type: 'linear',
                            position: 'left',
                            title: {
                                display: true,
                                text: 'Correlation'
                            }
                        }
                    },
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, data){
                                return glabels[tooltipItem.index]
                            }
                        }
                    }
                }
            });
        </script>
    </div>
    <div class="use-case-3-results">
        <p class="message">The first scatterplot shows correlation between tags and ratings for specific user.  <br>
                           The second scatterplot shows correlation between tags and genres for specific user. <br>
                           The correlation used was a pearson correlation, where the tags and genre were encoded with unique labels,<br>
                           where tags and genre are lists of tags user gave and the genre of corresponding movies. <br>
                           Both lists were pre-processed to ensure that the length of each list is equal and greater than 2, <br>
                           by padding the list with 0s as this does not affect the result of correlation. <br>
                           <br>
                           Looking at each of the scatterplot, both the scatterplot show majority of users showing weak correlation between<br>
                           tags given by user and rating or genre, implying being given a specific tag, does not necessarily result in <br>
                           certain rating or genre. This can be clearly seen looking at correlation of user who has given large number of tags considering
                           the fact that reliability of pearson correlation is affected by sample size, where large sample size results in more accurate results.<br>
                           For instance, User with id 62, has given more than 300 tags, and user with id 357, has given more than 50 tags, but<br>
                           both users show correlation between 0 ~ -0.2 for tags and ratings, and 0 ~ 0.1 for tags and genres, whereas those with<br>
                           very high correlation tend to have only given very small number of tags, resulting in small sample size. <br>
                           <br>
                           Looking at the table with movie data segmented by tags, it can be seen that when the content of tags describe <br>
                           about content of the movie, then same tags were given to different movies with similar contents. Also in cases where<br>
                           the tags were related specific crew or cast of a movie, the same tag was given to different movies with same member of crew of cast.<br>
                           Lastly, when the tags were related to release date, different movies were given same tags. As the three cases are quite common among movies,<br>
                           there were quite a lot of same tags given to different movies</p>
                           
    </div>
    <div class="use-case-2-results">
        <table class="table use-case-2-results-table">
            <thead class="table-dark">
                <tr>
                    {% for i in range(0, len) %}
                        <th scope="col">{{heading[i]}}</ths>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in result %}
                    <tr>
                        {% for j in range(0, len) %}
                            <td>
                                {{row[j]}}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
{% endblock %}