{% extends 'base.html' %}

{% block title %} Use Case 6 {% endblock %}

{% block css_links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='use_case_3.css') }}">
{% endblock  %}

{% block block_menu %}{% endblock  %}

{% block content %}
    <div class="">
        <div class="title">
            <h4>Use Case 6</h4>
        </div>
    </div>
    <div>
        <p>Correlation between the 5 personality traits and the ratings for each movie</p>
        <table class="table use-case-6-1-table">
            {% set personality_traits = context['personality_traits'] %}
            {% set correlation_result = context['correlation_result'] %}
            <thead>
                <th>Personality Trait/Movie No.</th>
                {% for i in range(0, 12) %}
                    <th scope="col">{{i+1}}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for j in range(personality_traits|length) %}
                    <tr>
                        <td>{{ personality_traits[j] }}</td>
                        {% for k in correlation_result[j] %}
                            <td>{{ '%.2f'|format(k) }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        {% for row in temp %}
        <p>{{ row}} </p>
        {% endfor %}
    </div>
{% endblock %}