{% extends 'base.html' %}

{% block title %} Use Case 1 {% endblock %}

{% block button_menu %}
{% endblock button_menu %}

{% block content %}
    <div class="container test-form" style="display: flex;">
        <form action="{{ url_for('get_data') }}" method="POST">
            <!-- Filter by basic attributes-->
            <div class="filter-group">
                <p>Title</p>
                <input type="radio" name="title" value="asc">
                <label>ASC</label>
                <input type="radio" name="title" value="desc">
                <label>DESC</label>
            </div>

            <!-- Filter by ordered ratings -->
            <div class="filter-group">
                <p>Rotten Tomatoes Rating</p>
                <input type="radio" name="rotten_tomatoes" value="asc" id="asc-option">
                <label>ASC</label>
                <input type="radio" name="rotten_tomatoes" value="desc" id="desc-option">
                <label>DESC</label>
            </div>
            <div class="filter-group">
                <p>Ov. Rating</p>
                <input type="radio" name="rating" value="asc">
                <label>ASC</label>
                <input type="radio" name="rating" value="desc">
                <label>DESC</label>
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
    <style>
        table {border-collapse:collapse; table-layout:fixed;;}
        table td {width:100px; word-wrap:break-word;}
    </style>
    <div style="overflow-x: auto;">
        <table class="">
            <thead class="thead-light">
                <tr>
                    {% for i in range(0, len) %}
                        <th>{{movies_data_headings_display[i]}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in query_res %}
                    <tr>
                        {% for col in row %}
                            <td>{{col}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}