/* CSS for base template styling */
.content {
    padding: 0 5% !important;
}

/* Navbar */
.navbar {
    padding: 1.5rem 5% !important;
}

.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}